ul,
li {
  list-style: none;
}

.content {
  padding: 0 60px;
  font-family: "Roboto";
  font-style: normal;
}
.header {
  background: rgba(255, 255, 255, 0.9);
  /* BG_blur */
  backdrop-filter: blur(16px);
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.top__logo {
  display: flex;
  gap: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #3a86ff;
}
.logo__image {
}
.logo__text {
}
.top__search {
  width: 520px;
  height: 40px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  display: inline-flex;
}
#search-line {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  border: none;
  width: 100%;
  height: 100%;
}
.Example {
  color: #e7e7e7;
}
.search__button {
  width: 60px;
  height: 40px;
  background: #3a86ff;
  border-radius: 4px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button__image {
}
.top__other-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3a86ff;
  width: 338px;
}
.other-icon__watch-later {
  display: flex;
  align-items: center;
  gap: 8px;
}
.watch-later__icon {
}
.watch-later__text {
  white-space: nowrap;
}
.other-icon__lamp {
}
.other-icon__bell {
}
.other-icon__authorize {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 5px;
  border: 1px solid #3a86ff;
  box-sizing: border-box;
  border-radius: 4px;
  width: 120px;
  height: 40px;
}
.authorize__mask {
}
.authorize__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3a86ff;
}
hr {
  background: #e7e7e7;
  width: 100%;
}
.header__foot {
  display: flex;
  align-items: center;
  gap: 24px;
}
h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #222222;
}
.foot__selector {
  display: flex;
  gap: 8px;
  align-items: center;
}
.selector__title {
}
.selector__select-button {
  padding: 6px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #3a86ff;
  background-color: white;
  height: 30px;
  border: 1px solid #3a86ff;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.main__video-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
  padding: 0;
}
.video-list__video-item {
  width: 315px;
  border-radius: 4px;
}
.video-item__image {
  width: 315px;
  height: 200px;
}
.video-item__info-block {
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
}
.info-block__avatar {
}
.info-block__text {
  margin: 0 15px 0 8px;
}
.text__description {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: #222222;
  width: 250px;
}
.text__author {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #222222;
}
.info-block__more {
}
