/* @import url("Main.css");
@import url("Header.css"); */

@import url("grid.module.css");
@import url("playerBarHeader.module.css");
@import url("playerBarDescription.module.css");
@import url("commentsBlog.module.css");

/* Обычный */
@font-face {
  font-family: "Moscow Sans";
  src: url(../fonts/MoscowSansRegular.otf);
}

/* Жирный */
@font-face {
  font-family: "Moscow Sans";
  font-weight: medium;
  src: url(../fonts/MoscowSansMedium.otf);
}

body {
  font-family: "Moscow Sans";
  font-style: normal;
  font-weight: 500;

  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: rem(1px);
  height: rem(1px);
  margin: rem(-1px);
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background: #8358ff;
  border: none;
  border-radius: 70px;
  color: white;

  justify-content: center;
  align-items: center;
  padding: 18px 84px;

  width: max-content;

  font-style: normal;
  font-weight: 500;
  font-size: 23.1476px;
  line-height: 28px;

  text-decoration: none;
}

.button:hover {
  filter: drop-shadow(0px 4px 6px rgba(40, 44, 52, 0.25));
}

.button-contacts {
  background: #e8ebed;

  color: #666f78;
}

.button-contacts:hover {
  filter: drop-shadow(0px 4px 6px rgba(40, 44, 52, 0.12));
}
