.main {
  display: flex;

  background-color: black;
  background-image: url("../../assets/back.jpg");
  width: 100%;

  background: white;
  min-height: 100vh;
  color: #323232;
}

.canvas-wrapper {
  left: 2%;
  top: 23%;
  position: absolute;
}

.left-side {
  width: 37%;
  background: linear-gradient(111.61deg, #5c33ff 9.13%, #a36aff 139.72%);
  height: 100vh;
}

.ava {
  position: absolute;

  width: 200px;
  height: 64px;
  left: 31px;
  top: 30px;
}

.four-left {
  width: 55%;
  padding-top: 45%;
  margin: -8%;
}

.right-side {
  width: 63%;
  background: linear-gradient(133.96deg, #f3f5f7 -1.88%, #f3f5f7 100%),
    linear-gradient(110.51deg, #f9f9f9 36.89%, #f8f8f8 100%), #ededed;
  height: 100vh;
}

.four-right {
  width: 32%;
  padding-top: 17%;
  margin-left: -5%;
}

.panel {
  display: flex;
  flex-direction: column;

  position: absolute;
  margin-top: 10%;
  margin-left: 20%;

  border-radius: 5px;

  gap: 32px;
}

.panel h1 {
  font-family: "Moscow Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 68px;

  margin-bottom: -16px;
}

.panel p {
  font-style: normal;
  font-weight: 300;
  font-size: 23.105px;
  line-height: 28px;

  margin: 0;

  max-width: 491px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.panel-setting {
  padding: 40px 60px;

  background: #e2e2e2;
  border-radius: 35px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sr-only--focus:focus {
  position: static;
  width: auto;
  height: auto;
}

input[type="color" i] {
  width: 130px;
  padding: 0;
  border: none;
}

/* dispatched single taps w/o delay */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  touch-action: manipulation;
}

.range-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* 
html,
body,
#root {
  font-family: sans-serif;
  font-size: 14px; */
/* background-color: var(--color__bg); */
/* height: 100%;
  overflow: hidden;
} */

/* .app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
  color: #222;
  padding: 20px 0;
}

.rating-value {
  line-height: 1;
  align-self: flex-end;
  padding-right: 30px;
  font-size: 15rem; */
/* color: var(--rubber-slider-ui); */
/* opacity: 0.5;
} */
